# ── API ────────────────────────────────────────────────────
VITE_API_URL=http://localhost:3000/api/v1
VITE_WS_URL=ws://localhost:3000

# ── Cloudinary (optionnel) ────────────────────────────────
VITE_CLOUDINARY_PRESET=julaba_preset
VITE_CLOUDINARY_URL=https://api.cloudinary.com/v1_1/julaba/image/upload
